.body {
	background-color: cornsilk;
	
}
.ofTheDaySection {
	.displayFlex(column, space-around, auto, center, auto);
	.widthHeight(100vw, 100vh);
	border: 12px solid black;
}
.artComp {
	.displayFlex(column, space-around, auto, center, auto);
	.widthHeight(50%, 75%);
	border: 2px solid red;
}
.ofTheDayh2 {
}
.ofTheDayImg {
	.widthHeight(50%, 65%);
}
.ofTheDayP {
}
