body {
	background-color: cornsilk;
	
}
.ofTheDaySection {
	.displayFlex(column, space-around, auto, center, auto);
	.widthHeight(100vw, 100vh);

}
.artComp {
	.displayFlex(column, space-around, auto, center, auto);
	.widthHeight(50%, 75%);

}
.ofTheDayh2 {
	font-size: 3rem;
}
.ofTheDayImg {
	.widthHeight(50%, 65%);
}
.ofTheDayP {
	font-size: 2rem;
}
